[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/ReginaldoMartinsCosta/ems-rmc-algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/ReginaldoMartinsCosta/ems-rmc-algashop-docs.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/ReginaldoMartinsCosta/ems-rmc-algashop-billing.git
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/ReginaldoMartinsCosta/ems-rmc-algashop-product-catalog.git
